---
import { t } from "i18next";
const year = new Date().getFullYear();
---

<footer class="py-8 text-light-2">
  <div class="layout-container flex flex-col items-center justify-center gap-y-8">
    <span class="text-sm">{t("footer.all-rights-reserved")} - © {year} Folks Router</span>
  </div>
</footer>
