---
import { t } from "i18next";
const year = new Date().getFullYear();
---

<footer class="invisible py-8 text-light-2">
  <div class="layout-container flex flex-col items-center justify-center gap-y-8">
    <span class="text-center text-sm">{t("footer.all-rights-reserved")} - © {year} Folks Router</span>
    <div class="h-px w-full bg-light-1/30"></div>
    <span class="text-center text-sm">
      This is an aggregator of third party software. Folks Finance declines any and all responsibility. Use at your own
      risk.
    </span>
  </div>
</footer>
