---
import IntegrateIcon from "~icons/folks-router-advantages-icons/integrate.svg";
import LiquidityIcon from "~icons/folks-router-advantages-icons/liquidity.svg";
import RevenueIcon from "~icons/folks-router-advantages-icons/revenue.svg";
---

<section class="bg-base-2 pb-20 tablet:pb-36">
  <div class="layout-container flex flex-col gap-y-10 tablet:gap-y-12">
    <div class="flex w-full flex-col items-center justify-between gap-y-7 tablet:flex-row tablet:gap-y-0">
      <h2 class="w-full text-3xl text-base-content tablet:w-1/3 lg:text-4xl lg:leading-[3rem]">
        Advantages of using Folks Router
      </h2>
      <p class="w-full text-light-1 tablet:w-5/12 tablet:text-lg">
        There are several ways in which Folks Router can accelerate the growth of your next project.
      </p>
    </div>
    <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-x-7">
      <div class="relative flex flex-col gap-y-7 overflow-hidden rounded-2xl border border-light-1/30 bg-base-1 p-7">
        <div class="flex h-12 w-12 items-center justify-center rounded-lg bg-base-2">
          <IntegrateIcon />
        </div>
        <div class="flex flex-col gap-y-2">
          <h3 class="text-xl font-semibold text-base-content">Integrate fast and easily</h3>
          <p class="text-light-1">
            One line of code, and your project gets access to the most efficient swaps on Algorand.
          </p>
        </div>
        <span class="absolute -bottom-16 -right-16 aspect-square w-32 rounded-full bg-base-3/30"></span>
      </div>
      <div class="relative flex flex-col gap-y-7 overflow-hidden rounded-2xl border border-light-1/30 bg-base-1 p-7">
        <div class="flex h-12 w-12 items-center justify-center rounded-lg bg-base-2">
          <RevenueIcon />
        </div>
        <div class="flex flex-col gap-y-2">
          <h3 class="text-xl font-semibold text-base-content">Generate revenue</h3>
          <p class="text-light-1">
            At least 50% of swap fees from your Folks Router integration will be distributed to your project.
          </p>
        </div>
        <span class="absolute -bottom-16 -right-16 aspect-square w-32 rounded-full bg-base-3/30"></span>
      </div>
      <div
        class="relative flex flex-col gap-y-7 justify-self-auto overflow-hidden rounded-2xl border border-light-1/30 bg-base-1 p-7 sm:col-span-2 sm:max-w-md sm:justify-self-center lg:col-auto lg:max-w-none"
      >
        <div class="flex h-12 w-12 items-center justify-center rounded-lg bg-base-2">
          <LiquidityIcon />
        </div>
        <div class="flex flex-col gap-y-2">
          <h3 class="text-xl font-semibold text-base-content">Get greater liquidity</h3>
          <p class="text-light-1">
            Our DEX partners combine for the deepest liquidity possible on the Algorand network.
          </p>
        </div>
        <span class="absolute -bottom-16 -right-16 aspect-square w-32 rounded-full bg-base-3/30"></span>
      </div>
    </div>
  </div>
</section>
