---
import "tailwindcss/src/css/preflight.css";
import "src/tailwind.css";
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";

import Footer from "@components/footer/footer.astro";
import Header from "@components/header/header.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <SEO
      title={`${title} | Folks Router`}
      description="Get the best prices, lowest fees, and most efficient routes for swapping through DEX aggregation."
      openGraph={{
        basic: {
          title: "Folks Router",
          type: "website",
          image: "/og.png",
          url: "https://folksrouter.io/",
        },
        optional: {
          description:
            "Get the best prices, lowest fees, and most efficient routes for swapping through DEX aggregation.",
        },
      }}
      twitter={{
        creator: "@FolksFinance",
        image: "/og.png",
        card: "summary_large_image",
        title: "Folks Router",
        description:
          "Get the best prices, lowest fees, and most efficient routes for swapping through DEX aggregation.",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.png" }],
        meta: [
          { name: "viewport", content: "width=device-width, initial-scale=1" },
          {
            name: "keywords",
            content: "Folks Router, Folks Finance, Swap, DeFi, Algorand, Crypto, Blockchain",
          },
        ],
      }}
    />
    <ViewTransitions />
  </head>
  <body class="relative overflow-x-hidden bg-base-1 font-sans">
    <Header />
    <!-- pt is set according to the height of the header -->
    <main class="pt-[4.5rem] tablet:pt-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
